{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="container pd-10">
        <h1 class="text-center">About Us</h1>
    </div>

    <div class="card">
      <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolorum error
          fuga id ipsa nemo nihil perferendis reiciendis ullam? Animi atque dolore doloremque
          error magnam odio similique suscipit, tempora vitae? Aliquid culpa dicta dolorem ducimus
          excepturi incidunt magni optio veritatis vitae voluptatem. Animi assumenda consequuntur
          corporis dolorum eum id illo ipsa labore laudantium libero mollitia nihil nisi numquam
          odit officiis quia, quis recusandae repellendus sapiente sed soluta, tenetur totam,
          vitae voluptates voluptatibus. Dicta eaque expedita explicabo fuga impedit ipsam
          ipsum libero magnam minima mollitia nam perferendis provident quas ratione rem
          repellat sint sunt suscipit tempore temporibus, totam velit voluptas voluptatem!
      </div>
    </div>

{% endblock %}