{% extends 'base.html' %}

{% block title %}Analysis{% endblock %}

{% block body %}
    <div class="container pd-10">
        <h1 class="text-center">Analysis</h1>
    </div>
    <div class="container pd-10">
        <h2>List of Times:</h2>
        <p>
        <ol id="ol1">

        </ol>
        </p>
        <a class="btn btn-outline-primary" href="/analysis/refresh" role="button">Refresh</a>
        <a class="btn btn-outline-danger" href="/analysis/clear" role="button">Clear</a>
    </div>
    <script src="static/js/analysis.js"></script>
{% endblock %}